In [1]:
import pandas as pd

In [14]:
metadata = pd.read_csv('code/static/data/belly_button_metadata.csv')

In [15]:
bbdata = pd.read_csv('code/static/data/belly_button_data.csv')

In [5]:
metadata.columns

Index(['sample', 'EVENT', 'ETHNICITY', 'GENDER', 'AGE', 'WFREQ', 'BBTYPE',
       'LOCATION', 'COUNTRY012', 'ZIP012', 'COUNTRY1319', 'ZIP1319', 'DOG',
       'CAT', 'IMPSURFACE013', 'NPP013', 'MMAXTEMP013', 'PFC013',
       'IMPSURFACE1319', 'NPP1319', 'MMAXTEMP1319', 'PFC1319'],
      dtype='object')

In [6]:
metadata.head()

,sample,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [8]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 22 columns):
sample            153 non-null int64
EVENT             152 non-null object
ETHNICITY         149 non-null object
GENDER            152 non-null object
AGE               150 non-null float64
WFREQ             138 non-null float64
BBTYPE            142 non-null object
LOCATION          126 non-null object
COUNTRY012        87 non-null object
ZIP012            85 non-null object
COUNTRY1319       81 non-null object
ZIP1319           79 non-null object
DOG               86 non-null object
CAT               86 non-null object
IMPSURFACE013     44 non-null float64
NPP013            80 non-null float64
MMAXTEMP013       80 non-null float64
PFC013            0 non-null float64
IMPSURFACE1319    78 non-null object
NPP1319           43 non-null float64
MMAXTEMP1319      75 non-null float64
PFC1319           74 non-null float64
dtypes: float64(9), int64(1), object(12)
memory usage: 26.4+ KB

In [12]:
metadata[metadata['sample'] == 940]

,sample,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5

In [16]:
bbdata.columns

Index(['otu_id', 'otu_label', '940', '941', '943', '944', '945', '946', '947',
       '948',
       ...
       '1562', '1563', '1564', '1572', '1573', '1574', '1576', '1577', '1581',
       '1601'],
      dtype='object', length=155)

In [21]:
bbdata.shape

(3663, 155)

In [31]:
bbdata['940'].sum()

1437

In [32]:
bbdata['940'].mean()

0.3923013923013923

In [41]:
bbdata[['otu_id','otu_label','940']].sort_values(by='940',ascending = False,inplace=True)

/home/jmpichar/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [40]:
bbdata.head()

,otu_id,otu_label,940,941,943,944,945,946,947,948,...,1562,1563,1564,1572,1573,1574,1576,1577,1581,1601
0,1,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,2,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
2,3,Archaea;Euryarchaeota;Halobacteria;Halobacteri...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,4,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
4,5,Archaea;Euryarchaeota;Methanobacteria;Methanob...,0,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0